{% extends "base.html" %}

{% block title %}wiki-yasha - {{user.name}}{% endblock %}

{% block content %}
	<h1>{{user.name}}</h1>

	<hr>

	<div class="error">{{error}}</div>

	<form method="post">
		<label>
			<div>Current Password</div>
			<input type="password" name="password" value="{{password}}">
		</label>

		<label>
			<div>New Password</div>
			<input type="password" name="new_pwd" value="{{new_pwd}}">
		</label>

		<label>
			<div>Verify New Password</div>
			<input type="password" name="verify" value="{{verify}}">
		</label>

		<br>

		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	</form>
{% endblock %}

{% block js %}
	<script>$("#nav-profile").addClass("active");</script>
{% endblock %}