{% extends "base.html" %}

{% block title %}wiki-yasha - {{title}}{% endblock %}

{% block navpage %}
	<li id="nav-page"><a href="#">{{title}}</a></li>
{% endblock %}

{% block content %}

	<br>

	<form method="post">
		<div class="row">
			<div class="col-md-12">
				<input type="text" name="title" value="{{title if content else ''}}" placeholder="Article title">
			</div>
		</div>

		{% if created %}
		<div class="row">
			<div class="col-md-12">
				<p class="subtle">Page created by {{created_user}} on {{created.strftime("%b %d, %Y, %H:%M:%S")}}, Last edited by {{modified_user}} on {{last_modified.strftime("%b %d, %Y, %H:%M:%S")}}</p>
			</div>
		</div>
		{% endif %}

		<br>

		<div class="row">
			<div class="col-md-12">
				<textarea name="content" placeholder="Article content">{{content}}</textarea>
			</div>
		</div>

		<br>

		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	</form>

{% endblock %}

{% block js %}
	<script>$("#nav-page").addClass("active");</script>
{% endblock %}