{% extends "base.html" %}

{% block title %}wiki-yasha{% endblock %}

{% block content %}
	<h1>Recently Edited Wikis</h1>

	<hr>

	{% if top_pages %}
		{% for page in top_pages %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="{{page.page_id}}"><h2>{{page.title}}</h2></a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p class="subtle">Page created by {{page.created_user}} on {{page.created.strftime("%b %d, %Y, %H:%M:%S")}}, Last edited by {{page.modified_user}} on {{page.last_modified.strftime("%b %d, %Y, %H:%M:%S")}}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<pre class="clear-format">{{page.content}}</pre>
				</div>
			</div>
		</div>

		<hr>
		{% endfor %}
	{% endif %}

{% endblock %}

{% block js %}
	<script>$("#nav-home").addClass("active");</script>
{% endblock %}