{% extends "base.html" %}

{% block title %}wiki-yasha - Log In{% endblock %}

{% block content %}
	<a class="main-title" href="/blog">Log In</a>

	<hr>

	<div class="error">{{error}}</div>

	<form method="post">
		<label>
			<div>User Name</div>
			<input type="text" name="username" value="{{username}}">
		</label>

		<label>
			<div>Password</div>
			<input type="password" name="password" value="{{password}}">
		</label>

		<br>

		<button type="submit" class="btn btn-primary btn-lg">Log In</button>
		<!-- Then, this bit is just for referrals -->
		<input type="hidden" name="next_url" value="{{next_url}}">
	</form>
{% endblock %}

{% block js %}
	<script>$("#nav-login").addClass("active");</script>
{% endblock %}