{% extends "base.html" %}

{% block title %}wiki-yasha - New Page{% endblock %}

{% block content %}
	<h1>Create a New Wiki Page</h1>

	<hr>

	<div class="error">{{error}}</div>

	<form method="post">
		<h3>Page Name</h3>
		<p>e.g. wiki-yasha.appspot.com/<b style="color: blue;">example_page</b></p>
		<input type="text" name="page_id" value="{{page_id}}">

		<br>
		<br>

		<button type="submit" class="btn btn-primary btn-lg">Create Page</button>
	</form>
{% endblock %}

{% block js %}
	<script>$("#nav-post").addClass("active");</script>
{% endblock %}