{% extends "base.html" %}

{% block title %}wiki-yasha - This page{% endblock %}

{% block navpage %}
	<li id="nav-page"><a href="#">{{title}}</a></li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h1>{{title}}</h1>
		</div>
	</div>

	{% if created %}
	<div class="row">
		<div class="col-md-12">
			<p>Page created {{created}}, last edited {{last_modified}}</p>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<p>{{content}}</p>
		</div>
	</div>

{% endblock %}

{% block js %}
	<script>$("#nav-page").addClass("active");</script>
{% endblock %}